:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html
{
    user-select: none;
    font-family: Inter; 
    box-sizing: border-box;
    overflow-x: hidden;
}
body
{
    background-color: rgba(13, 13, 28, 1);
    color: white;
}

*,*:after,*:before
{
    box-sizing: inherit;
}

.top_mainvision
{
    /* background-image: url("../img/header.png"); */
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
header
{
    width: 1420px;
    padding-top: 440px;
    margin-left: auto;
    margin-right: auto;
}
.Top_Content
{
    width: 308px;
    height: 57px;
    font-size: 16px;
    line-height: 19.36px;
    /* padding-top: 440px; */
}
.Top_Loge
{
    position: relative;
    right: 15px;
}
main
{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
}
.main_story
{
    font-weight: bold;
    font-size: 20px;
}
.main_Story1_img
{
    z-index: 3;
    position: relative;
    left: 250px;
    top: -180px;
}
.main_Story2_img
{
    z-index: 2;
    position: absolute;
    /* top: -780px; */
    left: 0px;
    top: 1150px;
}
.main_Story3_img
{
    position: absolute;
    z-index: 1;
    top: 1620px;
    left: 300px; 
}
.main_Detect_Word
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_Detect_Word_content
{
    width: 380px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.main_page2
{
    margin-top: 600px;
}
.main_Detect_animate
{
    width: 220px;
    height: 220px;
}
.main_Detect_content_T1
{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid rgba(210, 69, 32, 1);
    padding: 8px;
    border-radius: 50px;
}
.main_Detect_content_T2
{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(210, 69, 32, 1);
    border: 3px solid rgba(210, 69, 32, 1);
    padding: 8px;
    color: black;
    border-radius: 50px;
}
.main_Detect_BOX
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
}
.main_Detect_AllBox
{
    display: flex;
    margin-top: 163px   ;
    justify-content: space-between;
}
.main_page3
{
    margin-top: 280px;
}
.main_page3_BG
{
    width: 1320px;
    position: absolute;
    z-index: -1;
}
.main_page3_allcontent
{
    display: flex;
    position: relative;
    left: -170px;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.main_page3_left
{
    font-size: 96px;
    font-weight: 700;
    transform: rotate(-90deg);
    margin: 0px;
}
.main_page3_right
{
    position: relative;
    right: 85px;
}
.main_page3_right_content
{
    font-size: 64px;
    font-weight: 700;
}
.c1
{
    color: rgba(69, 120, 151, 1);
}
.c2
{
    color: rgba(36, 38, 111, 1);
}
.c3
{
    color: rgba(210, 69, 32, 1);
}
.c4
{
    color: rgba(13, 13, 28, 1);
}
.main_page4
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.main_page4_img
{
    width: 714px;
}
.main_page4_title
{
    position: relative;
    top: 190px;
    left: -80px;
    font-size: 96px;
    font-weight: 700;
}
.main_page4_img_c
{
    top: 230px;
    position: absolute;
}
.main_page4_img_b
{
    position: absolute;
    z-index: -1;
    top: 570px;
}
.main_page4_cicle_blur
{
    position: absolute;
    width: 136px;
    height: 136px;
    background-color: rgba(36, 38, 111, 1);
    border-radius: 100%;
    filter: blur(50px);
    z-index: -1;
}
.main_page4_cicle_blur1
{
    left: 230px;
    top: 300px;
}
.main_page4_cicle_blur2
{
    right: 200px;
    bottom: 0px;
}
.main_page5_allimg
{
    display: flex;
    justify-content: space-between;
}
.main_page5_img_L
{
    margin-left: 100px;
}
.main_page5_img_R
{
    margin-right: 150px;
}
.main_page5
{
    margin-top: 350px;
    position: relative;
}
.main_page5_cicle_blur
{
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    filter: blur(50px);
    z-index: -1 ;
}
.main_page5_cicle_blur1
{
    top: 120px;
    left: 50px;
    background-color: rgba(210, 69, 32, 1);
}
.main_page5_cicle_blur2
{
    background-color: rgba(77, 224, 174, 1);
    right: 90px;
    top: 120px;
}
.main_page6_allcontent
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_page6_content
{
    width: 308px;
    line-height: 20px;
    text-align: center;
    margin-top: 50px;
}
.main_page6_loge
{
    width: 450px;
}
.main_page6
{
    position: relative;
    margin-top: 500px;
}
.main_page6_line
{
    width: 100%;
}
.main_page6_line1
{
    margin-top: 116px;
}
.main_page6_line2
{
    transform: rotate(-6deg);
    /* transform: scale(1.1); */
}
.main_page6_line3
{
    margin-top: 116px;
    transform: rotate(-3.5deg);
}
.main_page6_cicle
{
    position: absolute;
    right: 400px;
    top: -30px;
}
.main_page6_card
{
    position: absolute;
}
.main_page6_card1
{
    transform: rotate(15deg);
    left: -70px;
    top: -50px;
}
.main_page6_card2
{
    transform: rotate(-15deg);
    right: 80px;
    bottom: -150px;
}
.main_page6_card3
{
    transform: rotate(-30deg);
    right: -100px;
    top: -100px;
}
.main_page6_cicle_blur
{
    position: absolute;
    border-radius: 100%;
    background-color: rgba(36, 38, 111, 1);
    filter: blur(50px);
    /* z-index: -1 ; */
}
.main_page6_cicle_blur1
{
    width: 136px;
    height: 136px;
    right: 300px;
    top: -200px;
}
.main_page6_cicle_blur2
{
    width: 220px;
    height: 220px;
    left: 0;
    bottom: -190px;
}